CREATE DATABASE IF NOT EXISTS demo;
use demo;
CREATE TABLE customers(
	customer_id int NOT NULL PRIMARY KEY,
	first_name varchar(50) NOT NULL,
	last_name varchar(50) NOT NULL,
	payment_number char(16) NOT NULL
);

CREATE TABLE `lines` (
	id int NOT NULL AUTO_INCREMENT,
	x1 float NOT NULL,
	y1 float NOT NULL,
	x2 float NOT NULL,
	y2 float NOT NULL,
 CONSTRAINT pk_lines PRIMARY KEY (id));
 
CREATE TABLE minions(
	id int AUTO_INCREMENT NOT NULL PRIMARY KEY,
	name varchar(50) NULL,
	age int 
);

CREATE TABLE people(
	id int AUTO_INCREMENT NOT NULL PRIMARY KEY,
	email varchar(255) NOT NULL,
	first_name varchar(50) NULL,
	last_name varchar(50) NULL,
	salary DECIMAL(19,9) NULL);

CREATE TABLE products(
	id int NOT NULL PRIMARY KEY,
	name varchar(50) NOT NULL,
	quantity int NOT NULL,
	box_capacity int NOT NULL,
	pallet_capacity int NOT NULL);

CREATE TABLE rectangles(
	id int AUTO_INCREMENT NOT NULL PRIMARY KEY,
	 a float NOT NULL,
	 b  float NOT NULL); 
	 
CREATE TABLE towns(
	id int AUTO_INCREMENT NOT NULL PRIMARY KEY,
	name varchar(50) NULL);
	
CREATE TABLE triangles(
	id int AUTO_INCREMENT nOT nULL PRIMARY KEY,
	 a float nOT NULL,
	 b  float nOT NULL,
	c float nOT nULL);
	
CREATE TABLE triangles2(
	id int AUTO_INCREMENT nOT nULL PRIMARY KEY,
	 a float nOT NULL,
	h float nOT nULL );

INSERT customers (customer_id, first_name, last_name, payment_number) VALUES (1, 'Guy', 'Gilbert', '5645322227179083');  
INSERT customers (customer_id, first_name, last_name, payment_number) VALUES (2, 'Kevin', 'Brown', '4417937746396076');  
INSERT customers (customer_id, first_name, last_name, payment_number) VALUES (3, 'Roberto', 'Tamburello', '7927545745782378');






































































































































































































































































































INSERT `lines` (id, x1, y1, x2, y2) VALUES (1, 0, 0, 10, 0);

INSERT `lines` (id, x1, y1, x2, y2) VALUES (2, 0, 0, 5, 3);

INSERT `lines` (id, x1, y1, x2, y2) VALUES (4, -1, 5, 8, -3);




INSERT products (id, name, quantity, box_capacity, pallet_capacity) VALUES (1, 'Perlenbacher 500ml', 108, 6, 18);

INSERT products (id, name, quantity, box_capacity, pallet_capacity) VALUES (2, 'Perlenbacher 500ml', 10, 6, 18);

INSERT products (id, name, quantity, box_capacity, pallet_capacity) VALUES (3, 'Chocolate Chips', 350, 24, 3);







INSERT rectangles (id, A,  b ) VALUES (1, 2, 4);

INSERT rectangles (id, A,  b ) VALUES (2, 1, 18);

INSERT rectangles (id, A,  b ) VALUES (3, 4.5, 3);




INSERT triangles (id, A,  b , C) VALUES (1, 3, 4, 5);

INSERT triangles (id, A,  b , C) VALUES (2, 2, 5, 4);

INSERT triangles (id, A,  b , C) VALUES (3, 1.5, 1.5, 2);




INSERT triangles2 (id, A, H) VALUES (1, 2, 4);

INSERT triangles2 (id, A, H) VALUES (2, 1, 18);

INSERT triangles2 (id, A, H) VALUES (3, 4.5, 3);


